.MuiCard-root{
    width:400px 
}

.MuiCardMedia-img{
    width:240px !important;
    margin-left: 80px !important;
    margin-top: 10px !important;
}

.season-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.season-container >div{
    text-align: center;
    margin: 50px;
    font-weight: bold;

}