.css-13ysifi-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #2a52be !important;
  opacity: 1 !important;
}
.css-19afv9h-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #a490f9 !important;
  opacity: 1 !important;
}
